* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: Comfortaa, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  padding: 0.6em 1.2em;
  width: 12rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: #e84;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button.inactive {
  background-color: #e846;
}

.button:hover {
  background-color: #e84c;
}

