.error {
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    color: #fff;
    text-align: center;
    background-color: #e44;
    border-radius: 0.5rem;
}

.error__title {
    font-size: 1.2rem;
    font-weight: 700;
}

.error__desc {
    font-size: 1rem;
    font-weight: 400;
}
