.fake-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.fake-item {
    flex: 0 0 min(12rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 12rem;
    color: #222;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 0.5rem #0004;
    position: relative;
}

.fake-item__img {
    width: 100%;
    height: 8rem;
    background: #f5f5f5;
    border-radius: 0.3rem;
}

.fake-item__name {
    width: 100%;
    height: 1.5rem;
    background: #f5f5f5;
    border-radius: 0.3rem;
}