.poke-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.pokemon {
    flex: 0 0 min(12rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 12rem;
    color: #222;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 0.5rem #0004;
    position: relative;
}

.pokemon__img {
    width: 90%;
    height: 8rem;
    z-index: 20;
}

.pokemon__name {
    font-size: 1.2rem;
    text-transform: capitalize;
    z-index: 15;
}

.pokemon__number {
    color: #e846;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}